.list {
  display: flex;
  flex-direction: column;
  position: relative;
  row-gap: 10px;
  padding: 20px;
  background-color: var(--color-accent);
  border-radius: var(--border-radius-big);
  overflow: hidden;
  resize: both;

  &__entry {
    display: flex;
    column-gap: 5px;
    row-gap: 10px;
    align-items: start;
    flex-wrap: wrap;
  }

  &__interface {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__task {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 8px 15px 8px 8px;
    border: 2px solid var(--color-main);
    border-radius: var(--border-radius-small);
    word-break: break-all;

    p {
      margin-right: auto;
    }
  }

  &__checkbox,
  &__label {
    order: 1;
  }

  &__input {
    flex: 1;
  }


}