@font-face {
  font-family: 'LexendDeca';
  src: local('LexendDeca-Regular'), url('../assets/fonts/LexendDeca-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'LexendDeca';
  src: local('LexendDeca-Black'), url('../assets/fonts/LexendDeca-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}