:root {
  --color-main-gradient: linear-gradient(90deg, #de9cb8, #9dcde1, #dc8eb8, #98d3ec);
  --color-main: #ede7e0;
  --color-red: #ce472f;
  --color-accent: #519674;

  --border-radius-big: 16px;
  --border-radius-small: 10px;
}