@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}
a:focus, a:active {
  outline: none;
}
a:visited, a:hover {
  text-decoration: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: auto;
  width: auto;
  font-size: 100%;
  line-height: 1;
}

input,
button,
textarea {
  font-family: inherit;
  line-height: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  width: inherit;
  height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "LexendDeca";
  src: local("LexendDeca-Regular"), url("../assets/fonts/LexendDeca-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "LexendDeca";
  src: local("LexendDeca-Black"), url("../assets/fonts/LexendDeca-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Andika";
  src: local("Andika"), url("../assets/fonts/Andika-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Andika";
  src: local("Andika"), url("../assets/fonts/Andika-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-main-gradient: linear-gradient(90deg, #de9cb8, #9dcde1, #dc8eb8, #98d3ec);
  --color-main: #ede7e0;
  --color-red: #ce472f;
  --color-accent: #519674;
  --color-blue:#21324b;
  --border-radius-big: 16px;
  --border-radius-small: 10px;
}

body {
  background: var(--color-main);
  padding: 20px;
  font-family: "LexendDeca", "Andika";
  font-weight: 400;
  font-size: 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  color: var(--color-main);
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 30px;
}
.main__list {
  width: 30%;
}

.header {
  width: auto;
  color: var(--color-accent);
  border: 2px solid currentColor;
  border-radius: 10px;
  padding: 15px;
  min-width: 369px;
}
.header__title {
  font-weight: 900;
  font-size: 20px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
}
.header__date {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  outline: 2px solid var(--color-accent);
  outline-offset: 5px;
  border-radius: var(--border-radius-small);
}
.header__interface {
  display: flex;
  gap: 20px;
}
.header__complete {
  align-self: center;
  cursor: pointer;
  color: var(--color-blue);
}
.header__create {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;
  position: relative;
  row-gap: 10px;
  padding: 20px;
  background-color: var(--color-accent);
  border-radius: var(--border-radius-big);
  overflow: hidden;
  resize: both;
}
.list__entry {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  row-gap: 10px;
  align-items: start;
  flex-wrap: wrap;
}
.list__interface {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.list__task {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 8px 15px 8px 8px;
  border: 2px solid var(--color-main);
  border-radius: var(--border-radius-small);
  word-break: break-all;
}
.list__task p {
  margin-right: auto;
}
.list__checkbox, .list__label {
  order: 1;
}
.list__input {
  flex: 1;
}

.input {
  padding: 8px 20px 8px 8px;
  border-radius: var(--border-radius-small);
  resize: none;
}

.button-default {
  padding: 8px 20px;
  border-radius: var(--border-radius-small);
  background-color: var(--color-blue);
  color: white;
  border: 2px solid currentColor;
  transition-duration: 0.2s;
}
.button-default:hover {
  scale: 1.05;
}
.button-default:active {
  scale: 0.95;
}

.button-close {
  position: absolute;
  background-color: var(--color-red);
  aspect-ratio: 1;
  width: 20px;
  color: var(--color-main);
  border-radius: 50%;
  border: 2px solid white;
  transition-duration: 0.2s;
  top: 10px;
  right: 10px;
}
.button-close::after, .button-close::before {
  content: "";
  width: 15px;
  height: 4px;
  border-radius: 50px;
  overflow: hidden;
  background-color: white;
  position: absolute;
  transition-duration: 0.3s;
  right: 1px;
  top: 6px;
}
.button-close::after {
  transform: rotate(45deg);
}
.button-close::before {
  transform: rotate(-45deg);
}

.checkbox-task {
  display: none;
  cursor: pointer;
}

.checkbox-label::after {
  content: "";
  cursor: pointer;
  display: block;
  width: 21px;
  aspect-ratio: 1;
  border: 2px solid var(--color-main);
  background-color: var(--color-accent);
  border-radius: var(--border-radius-big);
  transition-duration: 0.3s;
}
.checkbox-label:has(> .checkbox-task:checked)::after {
  content: "✓";
  text-align: center;
}
.checkbox-label:has(> .checkbox-task:checked) + p {
  -webkit-text-decoration: 2px line-through var(--color-red);
          text-decoration: 2px line-through var(--color-red);
}

.button-create {
  position: relative;
  transition-duration: 0.2s;
}
.button-create:hover {
  scale: 1.1;
}
.button-create:active {
  scale: 0.9;
}
.button-create::after {
  content: "+";
  text-align: center;
  position: absolute;
  width: 24px;
  aspect-ratio: 1;
  color: var(--color-main);
  background-color: var(--color-blue);
  font-size: 20px;
  border-radius: 50%;
  top: 20px;
  transform: translate(-50%, -50%);
}

.button-delete {
  background-color: var(--color-red);
}

.button-rollup {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 40px;
  background-color: transparent;
  transition-duration: 0.3s;
}
.button-rollup:hover::after, .button-rollup:hover::before {
  outline: 2px solid white;
}
.button-rollup::after, .button-rollup::before {
  content: "";
  width: 10px;
  height: 10px;
  overflow: hidden;
  outline: 2px solid var(--color-blue);
  position: absolute;
  transition-duration: 0.3s;
}
.button-rollup::after {
  top: 3px;
  right: 1px;
}
.button-rollup::before {
  background-color: var(--color-accent);
  z-index: 1;
  top: 6px;
  right: 4px;
}

#completedTask {
  position: absolute;
  top: 10px;
  width: 40%;
  height: 90%;
  padding: 20px 40px 40px 20px;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--color-main);
  border-radius: 20px;
  border: 6px solid var(--color-accent);
  transition: display 1s allow-discrete, overlay 1s allow-discrete;
  animation: close 1s forwards;
  transform: translateY(10%);
}
#completedTask[open] {
  animation: open 0.3s forwards;
}
#completedTask::backdrop {
  background-color: transparent;
}

@keyframes open {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(20px);
  }
}
@keyframes close {
  from {
    transform: translateX(20px);
  }
  to {
    transform: translateX(-100%);
  }
}/*# sourceMappingURL=style.css.map */